* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    display: flex;
    width:100%;
}
.box {
    width: 70%;
    margin: 20px;
    padding: 20px 10px;
    border-radius: 10px;
    border: solid 1px black;
    border:outset 5px;
    background-color: hsla(0, 12%, 92%, 0.89);
}